body { 
  background: url(https://cdn.mos.cms.futurecdn.net/JYCV34Zni5sjYoZdpR7rDR-1024-80.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 100;
}

.hero h1 {
  color:chocolate;
  margin-top: 200px;
  font-size: 24px;
}

.hero p {
  color:grey;
  font-size: 16px;
  font-style: italic;
}

.table-head{
  color: chocolate;
  font-size: 16px;
}
