.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 12px;
    text-align: center;
    overflow-wrap: break-word;
    border-collapse: collapse;
    background-color: rgba(159, 160, 175, 0.938);
} 
table {
  width: 75%;
  margin: 0 auto !important;
}
table, th, td {
    border: 1px solid black;
  }
th,td {
    padding: 5px;
}
th {
    background-color:coral;
    color: gainsboro;
  }
.form-group {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgba(159, 160, 175, 0.938);
  font-size: 24px; 
}
h3 {
  color: rgba(159, 160, 175, 0.938);
}