
table {
    font-size: 12px;
    text-align: center;
    overflow-wrap: break-word;
    border-collapse: collapse;
} 
table {
  width: 75%;
  margin: 0 auto !important;
}
table, th, td {
    border: 1px solid black;
  }
th,td {
    padding: 5px;
}
.form-group {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px; 
}
